/*everything*/
* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body { 
  font-family: sans-serif; 

  display: flex; 
  flex-direction: column; 
  align-items: center; 

  gap: 20px; 
  padding: 20px;
}

/*main box */
#sudoku-grid { 
  display: grid; 
  grid-template-columns: repeat(9,1fr); 
  
  width: min(450px , 90vw); 
  height: min(450px , 90vw); 

  border: 2px solid black; 
}


